* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*quer tizer que todos elementos na minha pagina vai contar com as medidas na extremidade */
}

html {
  background: #333;
  font-family: "Courier New", Courier, monospace;
}
