
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-location-outline:before { content: '\e803'; } /* '' */
.icon-help-circled-alt:before { content: '\e804'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */