.main-clients {
  background-color: $cor-bg-black;
  border-bottom: solid 3px $cor-yellow-1;
}
.main-clients img {
  margin-top: 30px;
}
.main-clients h2 {
  margin-bottom: 10px;
}
.main-clients-title {
  color: $cor-white-1;
  display: block;
  margin: 0px 40px;
  padding: 0 auto;
  font-size: 1.5em;
  text-align: center;
  justify-content: space-around;
}
.main-clients div {
  text-align: center;
}
.main-clients-all {
  height: auto;
  margin: 0 auto;
  background-color: $cor-bg-black;
}
