.main-clients-title i {
  font-size: 1.9em;
  color: rgb(55, 115, 228);
}
.main-clients-title {
  display: block;
  margin: 20px 40px;
  padding: 0 auto;
  font-size: 1.5em;
  text-align: center;
  justify-content: space-around;
}
.main-clients div {
  text-align: center;
}
.main-clients-all {
  height: auto;
  margin: 0 auto;
  background-color: #121414;
}
