// colors
$cor-bg-gray: rgb(235, 231, 231);
$cor-bg-black: #121414;

$cor-yellow-1: rgb(238, 255, 0);
$cor-white-1: #fff;
$cor-gray-1: rgb(126, 126, 126);
$cor-black-1: #121414;

$gradiente-1: linear-gradient(
  90deg,
  rgba(142, 144, 253, 0.911) 0%,
  rgba(179, 209, 26, 0.93) 50%
);
$gradiente-2: linear-gradient(
  90deg,
  rgba(142, 144, 253, 0.911) 0%,
  rgba(212, 255, 0, 0.93) 50%
);
