.main-customer-opinion {
  width: 100%;
}
.main-customer-opinion h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.5em;
}
.main-customer-opinion-client {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.main-customer-opinion-client-h2-p {
  width: 300px;
  height: 100px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 150px;
  text-align: justify;
}
.main-customer-opinion-client-h2-p h2 {
  font-size: 1.7em;
}
.main-customer-opinion-client-h2-p h2 span {
  color: $cor-yellow-1;
}
.main-customer-opinion-client-h2-p p {
  margin-top: 20px;
}
