.main-customer-opinion {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5em;
}
.main-customer-opinion h2 {
  margin-bottom: 40px;
}
.main-customer-opinion-client {
  width: 1100px;
  margin: 0 auto;
  font-size: 1em;
  justify-content: center;
}
.main-customer-opinion-client h3 {
  text-align: left;
  margin-top: 30px;
}
.main-customer-opinion-client span {
  font-size: 2.5em;
}
.main-customer-opinion-client h3 span {
  font-size: 1em;
  color: rgb(238, 255, 0);
}
.main-customer-opinion-client p {
  text-align: left;
}
